<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ProStage!{% endblock %}</title>
        
        {% block stylesheets %}
           
        {% endblock %}

        {% block javascripts %}
            
        {% endblock %}
    </head>
    <body>

        {% block menu %}
        {% endblock %}

        {% block liste %}
        {% endblock %}

        {% block entreprise %}
        {% endblock %}

        {% block formation %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

    </body>
</html>
